/* *{
    color: blue;
}



button{
    color: brown;
    background-color: #ff00ff;
}

body{
    background-color: rgb(255, 187, 0);
}

#headingone{
    color: dodgerblue;
}

.myclass{
    color: darkorange;
} */

h3{
    color: black;
    text-align: center;
    text-decoration: blue dotted underline;
}

p{
    text-align: center;
    font-family: cursive;
}

a{
    text-decoration: none;
}

#h1{
    font-weight: 100;
}

#h2{
    font-weight: 300;
}

#h3{
    font-size: 500;
}

#h4{
    font-size: 900;
}