body{
    text-align: center;
}

div{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}

#container{
    width: 800px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* flex-wrap: wrap; */
    align-items: flex-start;
    /* align-content: flex-start; */
}

#box1{
    background-color: aliceblue;
    flex-grow: 1;
}

#box2{
    background-color: aqua;
    flex-grow: 2;
}

#box3{
    background-color: bisque;
}

#box4{
    background-color: blanchedalmond;
}

#box5{
    background-color: blueviolet;

}

